<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Assignment List</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="https://icon-library.com/images/university-icon-png/university-icon-png-7.jpg">
<link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
<style>
html{
	scroll-behavior : smooth;

}
body{
	
	font-family:Nunito;
}
::-webkit-scrollbar {
    display: none;
}
.shadow{
	text-shadow:0px 4px 3px rgba(0,0,0,0.4),
				0px 8px 13px rgba(0,0,0,0.1),
				0px 18px 23px rgba(0,0,0,0.1);
}


.vertical-menu {
  width: 200px;
}
nav.navbar{
    background-color: #375263;
    color: whitesmoke;
    border-radius: 0px;
    box-shadow: 0 0px 11px #00000094;
    z-index: 1;
    padding-top: 0.7rem;
    height: 6rem;
}

.vertical-menu a {
    color: white;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #84a9ac;
}

.vertical-menu a.active {
  background-color: #839b97;
  color: white;
}

.dropdown{
      position: absolute;
      right: 3%;
      transform: translateY(-3rem);
      z-index: 30;
    }
    .dropdown-toggle{
      /* position:absolute; */
      color: rgb(255, 255, 255);
    }
    .dropdown-toggle:hover{
      color: rgb(255, 255, 255);
      text-decoration: none;
      font-weight: 700;
    }
    .dropdown-toggle:focus{
      color: rgb(255, 255, 255);
      text-decoration: none;
    }
    .collapse.navbar-collapse{
      position: relative;
    }
    .dropdown-menu{
      position: absolute;
      z-index: 30;
    }
    #assignlist:hover {
  background-color: #f0f1f2;
        border-radius: 5px;
}

   
</style>
</head>

<body>
<section>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" >
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span style="font-family: Yusei Magic; font-size: 30px;">
      &nbsp;Uni PortaL</span>
    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <span style="font-family: sans-serif;margin-top: -30px;  float: right;  font-size: 17px;">SUSMITA DAS&nbsp;&nbsp;&nbsp;<span style="float: right; font-size: 20px;margin-top: -2px; "><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;</span></span> -->
        <li class="dropdown nav navbar-nav navbar-right">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%=loggedUserName%>
            <span style="float: right; font-size: 20px;margin-top: -2px; ">
              <!-- <i class="fa fa-user-circle-o" aria-hidden="true"> -->
              </i>&nbsp;&nbsp;</span>
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Enroll</a></li>
            <li><a href="#">Change Password</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>  
        
      </div>
    </nav>


</section>
<section id="home" style="margin-top: -20px;">

  <div class="row">
    <div class="col-sm-3 col-md-2 " style="background-color: #214252; height: 100vh;">
      <br>
        <div class="vertical-menu">
  <a href="/student/dashboard" class="active">&nbsp;&nbsp;&nbsp;<i class="fa fa-wifi" aria-hidden="true" style="color: white;"></i>&nbsp;&nbsp;Dashboard</a>
  <a href="#">&nbsp;&nbsp;&nbsp;<i class="fa fa-list-ul" aria-hidden="true" style="color: white;"></i>&nbsp;&nbsp;Course</a>
  <a href="#">&nbsp;&nbsp;&nbsp;<i class="fa fa-question-circle" aria-hidden="true" style="color: white;"></i>&nbsp;&nbsp;Help</a>

</div>
         
        
      </div>
    <div class="col-sm-9 col-md-10" style="background-color: #F8F9FA; height: 100vh;overflow-y:scroll;">
      <div class="container">
          
          <div class="row">
          <div class="col-sm-6"><h2 style="padding: 20px; color: #30475e;"><b><%=course%></b></h2></div>
          <div class="col-sm-6">
              
            <div class="btn-group">
  <!-- <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Small button
  </button> -->
  <div class="dropdown-menu">
    ...
  </div>
</div>

              
              </div>
          </div>
          <hr style=" border: 3px solid #30475e;border-radius: 4px;">
          <% assignments.forEach((assignment)=>{    %>

           
          <a href="/student/assignment/<%=assignment.courseId%>/<%=assignment.id%>" style="text-decoration: none;"><div class="row" id="assignlist">
              <div class="col-sm-8 col-lg-10">
              <h3 style="color: #30475e;"><%=assignment.title%></h3>
              
              </div>
          <div class="col-sm-4 col-lg-2">
              <b><p style="color: #30475e;">Due: <%=assignment.dueDate%></p><h5 style="color: #30475e;"><br>Status : <%=assignment.status%> <i class="<%=assignment.symbol%>" aria-hidden="true"></i></h5></b>
              
              </div>

          </div></a>
          <hr style="width: 100%;  border-width: 5px;">
          <%  })                %>
          

          
          
          
        </div>
        
    </div>
  </div>

  

</section>



<script>

    
    
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js"></script>
</body>
</html>
